asttokens==3.0.0
attrs==25.4.0
colorama==0.4.6
decorator==5.2.1
executing==2.2.1
fastjsonschema==2.21.2
import-ipynb==0.2
ipython==9.7.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_core==5.9.1
matplotlib-inline==0.2.1
nbformat==5.10.4
parso==0.8.5
platformdirs==4.5.0
prompt_toolkit==3.0.52
pure_eval==0.2.3
pygame==2.6.1
Pygments==2.19.2
referencing==0.37.0
rpds-py==0.28.0
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.15.0
wcwidth==0.2.14
